USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 2022-08-05 03:33:13 ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'E:\Database\NGANHANG\NGANHANGSV0\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'E:\Database\NGANHANG\NGANHANGSV0\NGANHANG_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [test]    Script Date: 2022-08-05 03:33:13 ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HTKN]    Script Date: 2022-08-05 03:33:13 ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 2022-08-05 03:33:13 ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_57AA1A61512A418EB6FD3618290D637F]    Script Date: 2022-08-05 03:33:13 ******/
CREATE ROLE [MSmerge_57AA1A61512A418EB6FD3618290D637F]
GO
/****** Object:  DatabaseRole [MSmerge_281BBF75AF534527B3C9C01C9AA8E0E9]    Script Date: 2022-08-05 03:33:13 ******/
CREATE ROLE [MSmerge_281BBF75AF534527B3C9C01C9AA8E0E9]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_57AA1A61512A418EB6FD3618290D637F]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_281BBF75AF534527B3C9C01C9AA8E0E9]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 2022-08-05 03:33:14 ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT        PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM            dbo.sysmergepublications AS PUBS INNER JOIN
                         dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[TrangThaiXoa] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'..', N'24bad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'TANDINH   ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'25bad3b4-edf9-ec11-90ba-000c295e5995')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2003, N'123456789', CAST(N'2022-07-22T12:49:01.103' AS DateTime), 2000000.0000, N'555555555', N'BENTHANH01', N'e76578cc-b808-ed11-90c7-000c295e5995')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2004, N'987654321', CAST(N'2022-07-22T12:50:02.467' AS DateTime), 2000000.0000, N'999999999', N'BENTHANH01', N'1c0022f6-b808-ed11-90c7-000c295e5995')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2005, N'987654321', CAST(N'2022-07-22T12:50:56.870' AS DateTime), 1000000.0000, N'555555555', N'BENTHANH02', N'f83c8e16-b908-ed11-90c7-000c295e5995')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2003, N'987654321', N'GT', CAST(N'2022-07-21T12:42:12.623' AS DateTime), 2000000.0000, N'BENTHANH01', N'941914de-b708-ed11-90c7-000c295e5995')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2005, N'987654321', N'GT', CAST(N'2022-07-22T12:42:12.623' AS DateTime), 1000000.0000, N'BENTHANH01', N'49da6817-b808-ed11-90c7-000c295e5995')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2006, N'987654321', N'RT', CAST(N'2022-07-23T12:42:12.623' AS DateTime), 2000000.0000, N'BENTHANH02', N'ccad5c2a-b808-ed11-90c7-000c295e5995')
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
GO
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0111111111', N'Đỗ Quỳnh', N'Như', NULL, N'NỮ', CAST(N'2020-08-09' AS Date), N'0987654324', N'TANDINH   ', N'26bad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0123456789', N'Nguyễn Quang', N'Hải', NULL, N'NAM', CAST(N'2018-05-08' AS Date), N'0987654321', N'BENTHANH  ', N'27bad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0999999999', N'Quế Ngọc', N'Hải', NULL, N'NAM', CAST(N'2009-05-02' AS Date), N'0987654323', N'TANDINH   ', N'28bad3b4-edf9-ec11-90ba-000c295e5995')
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'BENTHANH01', N'Lê Thị', N'Tuyết', NULL, N'NỮ', N'0987654321', N'BENTHANH  ', 0, N'2abad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'BENTHANH02', N'Nguyễn Thị', N'Hoa', NULL, N'NỮ', N'0123456789', N'BENTHANH  ', 0, N'2bbad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'BENTHANH03', N'check', N'check', NULL, N'NAM', N'0908070605', N'BENTHANH  ', 0, N'9845768c-2210-ed11-90c9-000c295e5995')
GO
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'111111111', N'0999999999', 7000000.0000, N'TANDINH   ', CAST(N'2021-09-02T10:30:00.000' AS DateTime), N'2ebad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'123456789', N'9876543210', 10000000.0000, N'BENTHANH  ', CAST(N'2020-06-21T14:30:00.000' AS DateTime), N'2fbad3b4-edf9-ec11-90ba-000c295e5995')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'223893755', N'0999999999', 0.0000, N'BENTHANH  ', CAST(N'2022-08-05T03:24:22.477' AS DateTime), N'be8e816c-3314-ed11-90cc-000c295e5995')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 2022-08-05 03:33:14 ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 2022-08-05 03:33:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_693577509]    Script Date: 2022-08-05 03:33:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_693577509] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 2022-08-05 03:33:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1013578649]    Script Date: 2022-08-05 03:33:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1013578649] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1477580302]    Script Date: 2022-08-05 03:33:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1477580302] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1589580701]    Script Date: 2022-08-05 03:33:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1589580701] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_5F3D0EBE85FC47DEB4F6DA9FFE7D1654]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_F63F364E2AC04D8A9D2BBFDF940D42AD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_2A4254BFC23C4FE9BB90E44778A0DA7E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_22A45EC2B8F34666957DD23582D3D4C1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_96F92A5192214086B3D9E0367C385D03]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF__TaiKhoan__SODU__300424B4]  DEFAULT ((0)) FOR [SODU]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_NGAYMOTK]  DEFAULT (getdate()) FOR [NGAYMOTK]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_74BE60EAB95D43569F053998A68042B7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_64B81883_803F_4513_A68B_62B25E2C80BE] CHECK NOT FOR REPLICATION (([MAGD]>(46001) AND [MAGD]<=(47001) OR [MAGD]>(47001) AND [MAGD]<=(48001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_64B81883_803F_4513_A68B_62B25E2C80BE]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_F357984D_0530_41FC_8457_546DB28F7E7D] CHECK NOT FOR REPLICATION (([MAGD]>(46001) AND [MAGD]<=(47001) OR [MAGD]>(47001) AND [MAGD]<=(48001)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_F357984D_0530_41FC_8457_546DB28F7E7D]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_PHAI] CHECK  (([PHAI]='NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_PHAI]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_PHAI] CHECK  (([PHAI]='NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_PHAI]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_SODU] CHECK  (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_SODU]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckCMND]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CheckCMND]
	@cmnd NVARCHAR(10)
AS
BEGIN
DECLARE @check int
	IF EXISTS(SELECT * FROM dbo.KhachHang WHERE dbo.KhachHang.CMND = @cmnd)
		SET @check = 1	--Mã tồn tại ở phân mãnh hiện tại	
	ELSE IF EXISTS(SELECT * FROM LINK0.NGANHANG.dbo.KhachHang AS KH WHERE KH.CMND = @cmnd)
		SET @check = 2	--Mã tồn tại ở phân mãnh khác
	ELSE
		SET @check = 0
SELECT @check	--Không bị trùng được thêm
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMANV]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CheckMANV]
	@maNV NCHAR(10)
AS
BEGIN
DECLARE @check int
	IF EXISTS(SELECT * FROM dbo.NhanVien WHERE dbo.NhanVien.MANV = @maNV)
		SET @check = 1	--Mã tồn tại ở phân mãnh hiện tại	
	ELSE IF EXISTS(SELECT * FROM LINK0.NGANHANG.dbo.NhanVien AS NV WHERE NV.MANV = @maNV)
		SET @check = 2	--Mã tồn tại ở phân mãnh khác
	ELSE
		SET @check = 0
SELECT @check	--Không bị trùng được thêm
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChuyenCN]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ChuyenCN]
	@manv nvarchar(10),
	@macngo nvarchar(10)
AS
DECLARE @check int
DECLARE @manvmax nvarchar(10) = (RIGHT((SELECT TOP 1 MANV FROM LINK1.NGANHANG.DBO.NhanVien ORDER BY MANV DESC), 2))
IF (@manvmax < 10)
	SET @manvmax = CONCAT(@macngo, '0', @manvmax + 1)
ELSE
	SET @manvmax = CONCAT(@macngo, @manvmax + 1)
SET XACT_ABORT ON
BEGIN DISTRIBUTED TRANSACTION
BEGIN TRY
	IF EXISTS (SELECT * FROM LINK1.NGANHANG.DBO.NhanVien
				WHERE SODT = (SELECT SODT FROM NhanVien WHERE MANV = @manv))
	BEGIN
		UPDATE NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @manv

		UPDATE LINK1.NGANHANG.DBO.NhanVien
			SET TrangThaiXoa = 0
			WHERE SODT = (SELECT SODT FROM NhanVien WHERE MANV = @manv)
	END
	ELSE
	BEGIN
		INSERT INTO LINK1.NGANHANG.DBO.NhanVien(MANV, HO, TEN, DIACHI, PHAI, SODT, MACN, TrangThaiXoa)
			SELECT @manvmax AS MANV, HO, TEN, DIACHI, PHAI, SODT, @macngo AS MACN, 0 FROM NhanVien WHERE MANV = @manv

		UPDATE NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @manv
	END

	IF (@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
		SET @check = 1
	END
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		SET @check = 0
	END
END CATCH
SELECT @check
GO
/****** Object:  StoredProcedure [dbo].[SP_ChuyenTien]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ChuyenTien]
	@sotkchuyen nvarchar(10),
	@sotknhan nvarchar(10),
	@sotien money,
	@manv nvarchar(10)
AS
DECLARE @sodu money = (SELECT SODU FROM TaiKhoan WHERE SOTK = @sotkchuyen)
DECLARE @check int = 1

IF NOT EXISTS(SELECT * FROM dbo.TaiKhoan AS TK WHERE TK.SOTK = @sotkchuyen)
BEGIN
	SET @check = 2
	SELECT @check
	RETURN
END

IF NOT EXISTS(SELECT * FROM dbo.TaiKhoan AS TK WHERE TK.SOTK = @sotknhan)
BEGIN
	SET @check = 3
	SELECT @check
	RETURN
END

IF (@sotien <= @sodu)
BEGIN
	SET XACT_ABORT ON
	BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO GD_CHUYENTIEN(SOTK_CHUYEN, NGAYGD, SOTIEN, SOTK_NHAN, MANV)
			VALUES(@sotkchuyen, GETDATE(), @sotien, @sotknhan, @manv)
		UPDATE TaiKhoan 
			SET SODU = SODU - @sotien
			WHERE SOTK = @sotkchuyen
		UPDATE TaiKhoan 
			SET SODU = SODU + @sotien
			WHERE SOTK = @sotknhan			  
							
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		SET @check = 0
	END CATCH
END
ELSE
	SET @check = 4

SELECT @check
GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhap]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DangNhap]
	@tenLogin nvarchar(50)
AS
BEGIN
	DECLARE @tenUser nvarchar(50)
	SELECT @tenUser = NAME FROM sys.sysusers WHERE sid = SUSER_SID(@tenLogin)
 
	SELECT USERNAME = @tenUser,
		HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @tenUser),
		TENNHOM = NAME
	FROM sys.sysusers 
	WHERE UID = (SELECT GROUPUID
                 FROM SYS.SYSMEMBERS
					WHERE MEMBERUID = (SELECT UID FROM sys.sysusers
										WHERE NAME = @tenUser))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GDGoiRut]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GDGoiRut]
	@sotk nvarchar(10),
	@loaigd nvarchar(2),
	@sotien money,
	@manv nvarchar(10)
AS
DECLARE @sodu money = (SELECT SODU FROM TaiKhoan WHERE SOTK = @sotk)
DECLARE @check int = 1

IF NOT EXISTS(SELECT * FROM dbo.TaiKhoan AS TK WHERE TK.SOTK = @sotk)
BEGIN
	SET @check = -1
	SELECT @check
	RETURN
END

IF (@loaigd = 'GT')
BEGIN
	SET XACT_ABORT ON
	BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO GD_GOIRUT(SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
			VALUES(@sotk, @loaigd, GETDATE(), @sotien, @manv)
		UPDATE TaiKhoan
			SET SODU = SODU + @sotien
			WHERE SOTK = @sotk
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		SET @check = 0
	END CATCH
END
ELSE
BEGIN
	IF (@sotien > @sodu)
		SET @check = 2
	ELSE
	BEGIN
		SET XACT_ABORT ON
		BEGIN TRANSACTION
		BEGIN TRY
			INSERT INTO GD_GOIRUT(SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
				VALUES(@sotk, @loaigd, GETDATE(), @sotien, @manv)
			UPDATE TaiKhoan
				SET SODU = SODU - @sotien
				WHERE SOTK = @sotk
			COMMIT TRAN
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			SET @check = 0
		END CATCH
	END
END
SELECT @check
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCNChuyen]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetCNChuyen]
	@macn nvarchar(10)
AS
SELECT MACN, TENCN FROM LINK0.NGANHANG.DBO.ChiNhanh WHERE MACN <> @macn
GO
/****** Object:  StoredProcedure [dbo].[SP_LietKeKhachHang]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LietKeKhachHang]
AS
SELECT CMND, HOTEN = HO + ' ' + TEN, DIACHI, PHAI, NGAYCAP, SODT
	FROM KhachHang
	ORDER BY TEN, HO
GO
/****** Object:  StoredProcedure [dbo].[SP_LietKeTaiKhoan]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LietKeTaiKhoan]
	@tungay nvarchar(10),
	@denngay nvarchar(10),
	@all int
AS
SET DATEFORMAT DMY

IF (@all = 0)
SELECT SOTK, NGAYMOTK, TaiKhoan.MACN
	FROM TaiKhoan INNER JOIN ChiNhanh ON TaiKhoan.MACN = ChiNhanh.MACN
	WHERE (NGAYMOTK >= @tungay AND NGAYMOTK < @denngay)
ELSE
SELECT SOTK, NGAYMOTK, TaiKhoan.MACN
	FROM TaiKhoan
	WHERE (NGAYMOTK >= @tungay AND NGAYMOTK < @denngay)
GO
/****** Object:  StoredProcedure [dbo].[SP_MoTaiKhoan]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MoTaiKhoan]
	@cmnd nvarchar(10),
	@macn nvarchar(10)
AS
DECLARE @sotk int = (SELECT FLOOR(RAND()*(999999999-100000000+1)+100000000))

WHILE @sotk = (SELECT SOTK FROM TaiKhoan WHERE SOTK = @sotk)
BEGIN
	SET @sotk = (SELECT FLOOR(RAND()*(999999999-100000000+1)+100000000))
END

INSERT INTO TaiKhoan(SOTK, CMND, SODU, MACN, NGAYMOTK)
	VALUES(@sotk, @cmnd, 0, @macn, GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[SP_SaoKeGD]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SaoKeGD]
	@tungay nvarchar(10),
	@denngay nvarchar(10),
	@sotk nvarchar(10)
AS
SET DATEFORMAT DMY

DECLARE @sodudau money = (SELECT SODU FROM TaiKhoan WHERE SOTK = @sotk)
DECLARE @ngaygd datetime, @loaigd nvarchar(2), @sotien money, @macn nvarchar(10)

DECLARE cursorGD CURSOR FOR
SELECT NGAYGD, LOAIGD, SOTIEN
	FROM GD_GOIRUT INNER JOIN NhanVien ON GD_GOIRUT.MANV = NhanVien.MANV
	WHERE SOTK = @sotk AND NGAYGD >= @tungay
UNION ALL
SELECT NGAYGD, LOAIGD = 'CT', SOTIEN
	FROM GD_CHUYENTIEN INNER JOIN NhanVien ON GD_CHUYENTIEN.MANV = NhanVien.MANV
	WHERE SOTK_CHUYEN = @sotk AND NGAYGD >= @tungay
UNION ALL
SELECT NGAYGD, LOAIGD, SOTIEN
	FROM LINK0.NGANHANG.DBO.GD_GOIRUT INNER JOIN LINK0.NGANHANG.DBO.NhanVien ON GD_GOIRUT.MANV = NhanVien.MANV
	WHERE SOTK = @sotk AND NGAYGD >= @tungay AND MACN <> (SELECT TOP 1 MACN FROM NhanVien)
UNION ALL
SELECT NGAYGD, LOAIGD = 'CT', SOTIEN
	FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN INNER JOIN LINK0.NGANHANG.DBO.NhanVien ON GD_CHUYENTIEN.MANV = NhanVien.MANV
	WHERE SOTK_CHUYEN = @sotk AND NGAYGD >= @tungay AND MACN <> (SELECT TOP 1 MACN FROM NhanVien)
--ORDER BY NGAYGD DESC
OPEN cursorGD
FETCH NEXT FROM cursorGD
	INTO @ngaygd, @loaigd, @sotien
WHILE @@FETCH_STATUS = 0
BEGIN
	IF @loaigd = 'GT'
		SET @sodudau -= @sotien
	ELSE
		SET @sodudau += @sotien

	FETCH NEXT FROM cursorGD
		INTO @ngaygd, @loaigd, @sotien
END
CLOSE cursorGD
DEALLOCATE cursorGD

CREATE TABLE #TAM (
	SODUDAU money,
	NGAYGD datetime,
	LOAIGD nvarchar(2),
	SOTIEN money,
	SODUSAU money,
	MACN nvarchar(10)
)

DECLARE cursorSaoKe CURSOR FOR
SELECT NGAYGD, LOAIGD, SOTIEN, MACN
	FROM GD_GOIRUT INNER JOIN NhanVien ON GD_GOIRUT.MANV = NhanVien.MANV
	WHERE SOTK = @sotk AND (NGAYGD >= @tungay AND NGAYGD < @denngay)
UNION ALL
SELECT NGAYGD, LOAIGD = 'CT', SOTIEN, MACN
	FROM GD_CHUYENTIEN INNER JOIN NhanVien ON GD_CHUYENTIEN.MANV = NhanVien.MANV
	WHERE SOTK_CHUYEN = @sotk AND (NGAYGD >= @tungay AND NGAYGD < @denngay)
UNION ALL
SELECT NGAYGD, LOAIGD, SOTIEN, MACN
	FROM LINK0.NGANHANG.DBO.GD_GOIRUT INNER JOIN LINK0.NGANHANG.DBO.NhanVien ON GD_GOIRUT.MANV = NhanVien.MANV
	WHERE SOTK = @sotk AND (NGAYGD >= @tungay AND NGAYGD < @denngay) AND MACN <> (SELECT TOP 1 MACN FROM NhanVien)
UNION ALL
SELECT NGAYGD, LOAIGD = 'CT', SOTIEN, MACN
	FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN INNER JOIN LINK0.NGANHANG.DBO.NhanVien ON GD_CHUYENTIEN.MANV = NhanVien.MANV
	WHERE SOTK_CHUYEN = @sotk AND (NGAYGD >= @tungay AND NGAYGD < @denngay) AND MACN <> (SELECT TOP 1 MACN FROM NhanVien)
ORDER BY NGAYGD
OPEN cursorSaoKe
FETCH NEXT FROM cursorSaoKe
	INTO @ngaygd, @loaigd, @sotien, @macn
WHILE @@FETCH_STATUS = 0
BEGIN
	IF @loaigd = 'GT'
	BEGIN
		INSERT INTO #TAM
			SELECT @sodudau, @ngaygd, @loaigd, @sotien, @sodudau + @sotien, @macn
		SET @sodudau += @sotien
	END
	ELSE
	BEGIN
		INSERT INTO #TAM
			SELECT @sodudau, @ngaygd, @loaigd, @sotien, @sodudau - @sotien, @macn
		SET @sodudau -= @sotien
	END

	FETCH NEXT FROM cursorSaoKe
		INTO @ngaygd, @loaigd, @sotien, @macn
END
CLOSE cursorSaoKe
DEALLOCATE cursorSaoKe

SELECT * FROM #TAM
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoTaiKhoan]    Script Date: 2022-08-05 03:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoTaiKhoan]
	@LGNAME nvarchar(10),
	@PASS nvarchar(20),
	@USERNAME nvarchar(10),
	@ROLE nvarchar(20)
AS
BEGIN
DECLARE @check int = 0
	DECLARE @RET INT

	EXEC @RET = SP_ADDLOGIN @LGNAME, @PASS, 'NGANHANG'                     
	IF (@RET = 1)	--	LOGIN NAME BI TRUNG
	BEGIN
		SET @check = 1
		SELECT @check
		RETURN 1
	END

	EXEC @RET = SP_GRANTDBACCESS @LGNAME, @USERNAME
	IF (@RET = 1)	--	USER NAME BI TRUNG
	BEGIN
		EXEC SP_DROPLOGIN @LGNAME
		SET @check = 2
		SELECT @check
		RETURN 2
	END

	EXEC sp_addrolemember @ROLE, @USERNAME

	EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
SELECT @check
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 322
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
USE [master]
GO
